@{
    ViewData["Title"]="Delete";
}
<a href="./Index">Back to Home</a>
<hr/>
<div class="text-center" style="background-color:powderblue";>
<form method="POST"><br><br>
    <b>Enter Employee ID to Delete:</b>
    <input type="text" name ="EmpID"><br><br><br>
    <hr>
    <button type="submit">Delete</button><br><br>
</form>

</div>