@{
    ViewData["Title"]="Update";
}
<a href="./Index">Back to Home</a>
<hr/>
<div class="text-center" style="background-color:powderblue";>
    <form method="POST">
    <fieldset class="text-center" style="border:0.5px solid">
    <br><legend><b>Enter Updated Employee Information</b></legend><br>
    <hr>
    Enter the EmpID to Update : 
    <input type="number" id="EmpID" name="EmpID"><br>
    <hr>
    First name:<input type="text" id="Fname" name="Fname"><br><br>
    Last name:<input type="text" id="Lname" name="Lname"><br><br>
    Gender:<input type="text" id="Gender" name="Gender"><br><br>
    Department:<input type="text" id="Dept" name="Dept"><br><br>
    Salary:<input type="number" id="Salary" name="Salary"><br><br>
    <hr>
    <button type="submit">Submit</button><br><br>
  </fieldset>
  </form>

</div>